<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="nice.css">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script> 
	<script src="./mouse.js"></script>
	<script language="javascript" type="text/javascript">


		function lineappear1(){
		document.getElementById("creme_noline2").src="diaryimage/cremebruille_line2.png";
		}
		function linegone1(){
	  	document.getElementById("creme_noline2").src="diaryimage/cremebruille_noline2.png";
	   	}
	   	function popup1(){
	   	document.getElementById("cremepop").style.display="block";
	   	}
	   	function popout1(){
	   	document.getElementById("cremepop").style.display="none";
	   	}


		function lineappear2(){
		document.getElementById("dyingkyung_noline2").src="diaryimage/dyingkyung_line2.png";
	  	}
	  	function linegone2(){
	  	document.getElementById("dyingkyung_noline2").src="diaryimage/dyingkyung_noline2.png";	
	  	}
	  	// function popup2(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout2(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}


		function lineappear3(){
		document.getElementById("filmjoo_noline2").src="diaryimage/filmjoo_line2.png";
	  	}
	  	function linegone3(){
	  	document.getElementById("filmjoo_noline2").src="diaryimage/filmjoo_noline2.png";	
	  	}
	  	// function popup3(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout3(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}


	  	function lineappear4(){
		document.getElementById("fleamarket_noline2").src="diaryimage/fleamarket_line2.png";
	  	}
	  	function linegone4(){
	  	document.getElementById("fleamarket_noline2").src="diaryimage/fleamarket_noline2.png";	
	  	}
	  	// function popup4(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout4(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}
	  

	  	function lineappear5(){
		document.getElementById("glasses_noline2").src="diaryimage/glasses_line2.png";
	  	}
	  	function linegone5(){
	  	document.getElementById("glasses_noline2").src="diaryimage/glasses_noline2.png";	
	  	}
	  	// function popup5(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout5(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}
	  

	  	function lineappear6(){
		document.getElementById("hardrock_noline2").src="diaryimage/hardrock_line2.png";
	  	}
	  	function linegone6(){
	  	document.getElementById("hardrock_noline2").src="diaryimage/hardrock_noline2.png";	
	  	}
	  	// function popup6(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout6(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}
	  

	  	function lineappear7(){
		document.getElementById("indianfood_noline2").src="diaryimage/indianfood_line2.png";
	  	}
	  	function linegone7(){
	  	document.getElementById("indianfood_noline2").src="diaryimage/indianfood_noline2.png";	
	  	}
	  	function popup7(){
	   	document.getElementById("indianpop").style.display="block";
	   	}
	   	function popout7(){
	   	document.getElementById("indianpop").style.display="none";
	   	}
	  

	  	function lineappear8(){
		document.getElementById("kyungleg_noline2").src="diaryimage/kyungleg_line2.png";
	  	}
	  	function linegone8(){
	  	document.getElementById("kyungleg_noline2").src="diaryimage/kyungleg_noline2.png";	
	  	}
	  	// function popup8(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout8(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}


	  	function lineappear9(){
		document.getElementById("landscape_noline2").src="diaryimage/landscape_line2.png";
	  	}
	  	function linegone9(){
	  	document.getElementById("landscape_noline2").src="diaryimage/landscape_noline2.png";	
	  	}
	  	// function popup9(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout9(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}

	  
	  	function lineappear10(){
		document.getElementById("lightsalt_noline2").src="diaryimage/lightsalt_line2.png";
	  	}
	  	function linegone10(){
	  	document.getElementById("lightsalt_noline2").src="diaryimage/lightsalt_noline2.png";	
	  	}
	  	// function popup10(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout10(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}
	  

	  	function lineappear11(){
		document.getElementById("sleepingjoo_noline2").src="diaryimage/sleepingjoo_line2.png";
	  	}
	  	function linegone11(){
	  	document.getElementById("sleepingjoo_noline2").src="diaryimage/sleepingjoo_noline2.png";	
	  	}
	  	// function popup11(){
	   // 	document.getElementById("test").style.display="block";
	   // 	}
	   // 	function popout11(){
	   // 	document.getElementById("test").style.display="none";
	   // 	}

   		</script> 
		
</head>

<body>
		<img id="obj_map" src="niceimage/obj_map.png"> 
		<img id="sub_background" src="niceimage/sub_background.png">
		<img id="sub_icon" src="niceimage/sub_icon.png">
		<img id="sub_photo" src="niceimage/sub_photo.png">
		<img id="sub_icon_onphoto" src="niceimage/sub_icon_onphoto.png">
		<a href="europe.html"><img id="sub_title" src="image/sub_title.png"></a>
		<a href="europe.html"><img id="obj_title" src="image/obj_title.png"></a>
		<img id="space" src="image/space.png"> 
		<img id="space2" src="image/space2.png"> 



		<img  id="creme_noline2" src="diaryimage/cremebruille_noline2.png" 
		onmouseover="lineappear1()" onmouseout="linegone1()" onclick="popup1()">

		<img  id="dyingkyung_noline2" src="diaryimage/dyingkyung_noline2.png" 
		onmouseover="lineappear2()" onmouseout="linegone2()" onclick="popup2()">

		<img  id="filmjoo_noline2" src="diaryimage/filmjoo_noline2.png" 
		onmouseover="lineappear3()" onmouseout="linegone3()" onclick="popup3()">

		<img  id="fleamarket_noline2" src="diaryimage/fleamarket_noline2.png" 
		onmouseover="lineappear4()" onmouseout="linegone4()" onclick="popup4()">

		<img  id="glasses_noline2" src="diaryimage/filmjoo_glasses.png" 
		onmouseover="lineappear5()" onmouseout="linegone5()" onclick="popup5()">

		<img  id="hardrock_noline2" src="diaryimage/hardrock_noline2.png" 
		onmouseover="lineappear6()" onmouseout="linegone6()" onclick="popup6()">

		<img  id="indianfood_noline2" src="diaryimage/indianfood_noline2.png" 
		onmouseover="lineappear7()" onmouseout="linegone7()" onclick="popup7()">

		<img  id="kyungleg_noline2" src="diaryimage/kyungleg_noline2.png" 
		onmouseover="lineappear8()" onmouseout="linegone8()" onclick="popup8()">

		<img  id="landscape_noline2" src="diaryimage/landscape_noline2.png" 
		onmouseover="lineappear9()" onmouseout="linegone9()" onclick="popup9()">

		<img  id="lightsalt_noline2" src="diaryimage/lightsalt_noline2.png" 
		onmouseover="lineappear10()" onmouseout="linegone10()" onclick="popup10()">

		<img  id="sleepingjoo_noline2" src="diaryimage/sleepingjoo_noline2.png" 
		onmouseover="lineappear11()" onmouseout="linegone11()" onclick="popup11()">

		<img id="cremepop" src="diarypop/cremepop.png" onclick="popout1()">
		<!-- <img id="" src="" onclick="popout2()">
		<img id="" src="" onclick="popout3()">
		<img id="" src="" onclick="popout4()">
		<img id="" src="" onclick="popout5()">
		<img id="" src="" onclick="popout6()"> -->
		<img id="indianpop" src="diarypop/indianpop.png" onclick="popout7()">
		<!-- <img id="" src="" onclick="popout8()">
		<img id="" src="" onclick="popout9()">
		<img id="" src="" onclick="popout10()">
		<img id="" src="" onclick="popout11()"> -->
		

	<input id="map_button" type="button" value="SUB" onclick="
	    var map_button = document.querySelector('#map_button');
	    var obj_map = document.querySelector('#obj_map');
	    var sub_photo = document.querySelector('#sub_photo');
	    var sub_background = document.querySelector('#sub_background');
	    var sub_icon_onphoto = document.querySelector('#sub_icon_onphoto');
	    var sub_icon = document.querySelector('#sub_icon');
	    var sub_title = document.querySelector('#sub_title');
	    var obj_title = document.querySelector('#obj_title');
	    
	    var creme_noline2=document.querySelector('#creme_noline2');
	    var dyingkyung_noline2=document.querySelector('#dyingkyung_noline2');
	    var filmjoo_noline2=document.querySelector('#filmjoo_noline2');
	    var fleamarket_noline2=document.querySelector('#fleamarket_noline2');
	    var glasses_noline2=document.querySelector('#glasses_noline2');
	    var hardrock_noline2=document.querySelector('#hardrock_noline2');
	    var indianfood_noline2=document.querySelector('#indianfood_noline2');
	    var kyungleg_noline2=document.querySelector('#kyungleg_noline2');
	    var landscape_noline2=document.querySelector('#landscape_noline2');
	    var lightsalt_noline2=document.querySelector('#lightsalt_noline2');
	    var sleepingjoo_noline2=document.querySelector('#sleepingjoo_noline2');



	function buttonClick1Event(){
		obj_map.style.transform = 'scale(1.3)';
		sub_photo.style.transform = 'scale(1.0)';
		sub_icon.style.transform = 'scale(1.0)';
		sub_icon_onphoto.style.transform = 'scale(1.0)';

	
		var timer = setInterval(function(){
			obj_map.style.display='none'
			sub_background.style.display='block'
			sub_photo.style.display='block'
			sub_icon.style.display='block'
			sub_icon_onphoto.style.display='block'

			sub_title.style.display='block'
			obj_title.style.display='none'
			space2.style.display='block'
			space.style.display='none'

			creme_noline2.style.display='block'
			creme_noline2.style.opacity='1'

			dyingkyung_noline2.style.display='block'
			dyingkyung_noline2.style.opacity='1'

			filmjoo_noline2.style.display='block'
			filmjoo_noline2.style.opacity='1'

			fleamarket_noline2.style.display='block'
			fleamarket_noline2.style.opacity='1'

			glasses_noline2.style.display='block'
			glasses_noline2.style.opacity='1'

			hardrock_noline2.style.display='block'
			hardrock_noline2.style.opacity='1'

			indianfood_noline2.style.display='block'
			indianfood_noline2.style.opacity='1'

			kyungleg_noline2.style.display='block'
			kyungleg_noline2.style.opacity='1'

			landscape_noline2.style.display='block'
			landscape_noline2.style.opacity='1'

			lightsalt_noline2.style.display='block'
			lightsalt_noline2.style.opacity='1'

			sleepingjoo_noline2.style.display='block'
			sleepingjoo_noline2.style.opacity='1'


			clearInterval(timer);
			}, 600)


		map_button.value = 'OBJ';
		}

	function buttonClick2Event(){
		sub_photo.style.display='block';
	    sub_icon.style.display='block';
	   	obj_map.style.transform = 'scale(1.0)';
		sub_photo.style.transform = 'scale(0.75)';
		sub_icon.style.transform = 'scale(0.75)';
		sub_icon_onphoto.style.transform = 'scale(0.75)';

		sub_title.style.display='block'
		space2.style.display='block'

		creme_noline2.style.display = 'block';
		creme_noline2.style.opacity = '0';

		dyingkyung_noline2.style.display='block'
		dyingkyung_noline2.style.opacity='0'

		filmjoo_noline2.style.display='block'
		filmjoo_noline2.style.opacity='0'

		fleamarket_noline2.style.display='block'
		fleamarket_noline2.style.opacity='0'

		glasses_noline2.style.display='block'
		glasses_noline2.style.opacity='0'

		hardrock_noline2.style.display='block'
		hardrock_noline2.style.opacity='0'

		indianfood_noline2.style.display='block'
		indianfood_noline2.style.opacity='0'

		kyungleg_noline2.style.display='block'
		kyungleg_noline2.style.opacity='0'

		landscape_noline2.style.display='block'
		landscape_noline2.style.opacity='0'

		lightsalt_noline2.style.display='block'
		lightsalt_noline2.style.opacity='0'

		sleepingjoo_noline2.style.display='block'
		sleepingjoo_noline2.style.opacity='0'


		var timer = setInterval(function(){
			sub_photo.style.display='none'
			sub_icon.style.display='none'
			sub_icon_onphoto.style.display='none'
			sub_background.style.display='none'
			obj_map.style.display='block'

			sub_title.style.display='none'
			obj_title.style.display='block'
			space2.style.display='none'
			space.style.display='block'

			creme_noline2.style.display='none'
			dyingkyung_noline2.style.display='none'
			filmjoo_noline2.style.display='none'
			fleamarket_noline2.style.display='none'
			glasses_noline2.style.display='none'
			hardrock_noline2.style.display='none'
			indianfood_noline2.style.display='none'
			kyungleg_noline2.style.display='none'
			landscape_noline2.style.display='none'
			lightsalt_noline2.style.display='none'
			sleepingjoo_noline2.style.display='none'

			clearInterval(timer);
			}, 600)	
	
		map_button.value = 'SUB';
		}




	if(map_button.value === 'SUB'){
	buttonClick1Event();
	}
	else {
	buttonClick2Event();
	}

	">




</body>
		
	  
</body>
</html>
